.container
  .row
    .col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
      h3
        .text-center
          b Magazine Application
      hr    
      = form_tag '/auth/user/callback', :class => 'form-horizontal login_form' do

        = text_field_tag :auth_key,"", :class=>"form-control input-lg email_field", placeholder: "Enter email"
        
        p

        = password_field_tag :password,"", :class=>"form-control input-lg password_field", placeholder: "Enter password"
       
        p

        = submit_tag :Login, :class => 'btn-block btn btn-lg btn-primary'