-if comment.children.present?
	-comment.children.each do |c|
		.media
		    .media-left
		      img.media-object alt="64x64" data-holder-rendered="true" data-src="holder.js/64x64" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2MDkzNzUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg==" style=("width: 64px; height: 64px;") /
		    .media-body
		      h5#nested-media-heading.media-heading
		        = c.user.name
		        small
		        	| &nbsp; Posted on #{c.created_at}
		        a.anchorjs-link href="#nested-media-heading" 
		          span.anchorjs-icon
		      p = c.body
		      small 
		    	=link_to "#collapseComment#{c.id}", "data-toggle"=>"collapse", "data-parent"=>"#accordion", "aria-expanded"=>"true", "aria-controls"=>"collapseOne" do
		    		|Comments (#{c.children.count})
		    	-if ((c.user_id == current_user.id) && c.children.blank?)
			    	|&nbsp;|&nbsp;
			    	= link_to "Delete", c, data: {:confirm => 'Are you sure?'}, :method => :delete
		      div(id="collapseComment#{c.id}" class="panel-collapse collapse")
			    p
			    = render partial: 'child_comments', locals: {comment: c}
		hr      

= form_tag child_comment_comment_path(id: comment.id), method: :post do
	= text_area_tag :comment, nil, placeholder: "Comment...", class: "form-control", required: true
	br
	= submit_tag :submit, class: "btn btn-primary pull-right"
	p
