.container
	h1 = @article.title
	p
		| Written By: 
		= @article.author
		span.pull-right
			= link_to 'Back', magazine_path(@article.magazine_id)
			| &nbsp;|&nbsp;
			= link_to 'Logout', logout_path
	hr
	= @article.body
	hr
	b Comments (#{@article.comment_threads.count})
	p
	br

	ul.media-list#accordion
		-@article.root_comments.order("created_at DESC").each do |comment|
			li.media
				.media-left
		        	img.media-object alt="64x64" data-holder-rendered="true" data-src="holder.js/64x64" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2MDkzNzUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg==" style=("width: 64px; height: 64px;") /
				.media-body
					h5#media-heading.media-heading
				        = comment.user.name
				        small
				        	| &nbsp; Posted on #{comment.created_at}
				        a.anchorjs-link href="#media-heading" 
				          span.anchorjs-icon
				    p = comment.body
				    small 
				    	=link_to "#collapseComment#{comment.id}", "data-toggle"=>"collapse", "data-parent"=>"#accordion", "aria-expanded"=>"true", "aria-controls"=>"collapseOne" do
				    		|Comments (#{comment.children.count})
				    	-if ((comment.user_id == current_user.id) && comment.children.blank?)
					    	|&nbsp;|&nbsp;
					    	= link_to "Delete", comment, data: {:confirm => 'Are you sure?'}, :method => :delete	
				    div(id="collapseComment#{comment.id}" class="panel-collapse collapse")
					    p
					    = render partial: 'child_comments', locals: {comment: comment}
			hr	    

	= form_tag comments_path(article_id: @article.id) do
		= text_area_tag :comment, nil, placeholder: "Comment...", class: "form-control", required: true
		br
		= submit_tag :submit, class: "btn btn-primary pull-right"