.container
	h1 Magazines
	span.pull-right
		= link_to 'Logout', logout_path
	hr
	-@magazines.in_groups_of(4,false).each do |magazines|
		.row
			-magazines.each do |magazine|
				.col-sm-3.col-xs-6
					.panel.panel-primary.text-center
						.panel-body
							h4 = link_to magazine.name, magazine_path(magazine)
							p = magazine.published_by
						.panel-footer
							.row
								.col-sm-6
									|#{magazine.articles.count} Articles
								.col-sm-6
									|#{magazine.articles.map(&:comments).count} Comments