.container
	h1 = @magazine.name
	p
		| Published By: 
		= @magazine.published_by
		span.pull-right
			= link_to 'Back', magazines_path
			| &nbsp;|&nbsp;
			= link_to 'Logout', logout_path
	hr
	-@magazine.articles.in_groups_of(4,false).each do |articles|
		.row
			-articles.each do |article|
				.col-sm-3.col-xs-6
					.panel.panel-primary.text-center
						.panel-body
							h4 = link_to article.title, magazine_article_path(magazine_id: @magazine.id, id: article.id)
							p = article.author
						.panel-footer
							.row
								.col-sm-6
									|#{article.comment_threads.count} Comments
								.col-sm-6
									