doctype html
html
	head
    	title Magazine
    	= stylesheet_link_tag    'application', media: 'all'
    	= javascript_include_tag 'application'
    	= csrf_meta_tags 
  	body
  		= render 'shared/flash'
  		= yield 
